.calculator {
  .debug-result {
    position: fixed;
    display: none;
    right:0;
    top:100px;
    width: 300px;
    font-size: 10px;
    z-index: 10;
    background-color: lightyellow;
    max-height: 600px;
    overflow: auto;
    &.show {
      display: block;
    }
  }
  .debug-toggle {
    position: fixed;
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    right:0;
    top:80px;
    background-color: lightyellow;
    color: red;
    cursor: pointer;
  }
  .container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .room-type {
    padding-bottom: 20%;
    background: lightgrey;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .contact-info {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    background: #f3f3f3;
  }
  .room-question-list-screen {
    padding-bottom: 40px;
  }
  .back-btn {
    display: block;
    font-size: 24px;
    line-height: 43px;
    cursor: pointer;
    float: right;
  }
  .question-view {
    padding: 20px;
    background: #f3f3f3;
    border-radius: 10px;
    margin: 20px 0;
    >span {
      display: block;
      margin-bottom: 10px;
    }
    .question-answers {
      > button {
        margin-right:20px;
        margin-bottom: 20px;
      }
    }
    .question-answer-options {
      margin-top: 20px;
      border-top: lightgrey 1px solid;
      padding: 20px;
      > button {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
    .question-answer-input {
      margin-top: 20px;
      .input-alert-message {
        color: $red;
      }
    }

  }

  .quotation-confirmation-screen {

  }


  .calculator-footer {
    position: fixed;
    background-color: white;
    height: 70px;
    left:0;
    bottom: 0;
    z-index: 2;
    border-top: 1px solid lightgrey;
    width: 100%;
    .footer-left {
      height: 70px;
      float: left;
      font-size: 26px;
      margin-left: 50px;
      .footer-left-desc {
        font-size: 14px;
        display: block;
      }
      .footer-subtotal {
        margin-left: 10px;
      }
    }

    .footer-right {
      float: right;
      button {
        height: 70px;
        color: white;
        background: $primary-color;
        padding: 0 30px;
        border: 0;
        font-size: 20px;
      }
      button[disabled] {
        background: grey;
      }
    }
  }

}
