html,body{
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "SC Sans Web","SC Sans",Arial,"Microsoft JhengHei",MingLiU,"PingFang TC","Lantinghei TC",sans-serif;
  font-weight: 300;
  button {
    font-family: "SC Sans Web","SC Sans",Arial,"Microsoft JhengHei",MingLiU,"PingFang TC","Lantinghei TC",sans-serif;
    font-weight: 300;
  }
}
a {
  color: #DD3E41;
  &:hover {
    color: #8c181a;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover{
    background-color: darken($primary-color,10%);
    border-color: darken($primary-color,10%);
  }
}

.form-group {
  .input-button-group {
    button {
      margin-right:20px;
      margin-bottom: 20px;
    }
  }
}

.error-message {
  color:$red;
}
