.get-started {
  margin-top: 100px;
  .selection {
    padding-bottom: 20%;
    background: lightgrey;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
