.home-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  .home-banner-background {
    position: fixed;
    z-index: -1;
    filter: blur(10px);
    top:0;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .home-content-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: translate(-50%,-50%);
    padding: 40px 0;
    h1 {
      color: white;
    }
  }
}
