#menu {
  // background-color: #DD3E41;
  // background-image: linear-gradient(to bottom, #DD3E41, #DD3E41);
  // background-repeat: repeat-x;
  // border-color: #DD3E41;
  background-color: transparent;
  border-color: transparent;
  background-image: none;

  // min-height: 40px;
  .abc {
    display: none;
  }
  .nav {
    > li{
      > a {
        color: #DD3E41;
        text-shadow: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.dropdown-menu{
  li{
    > a:hover {
      text-decoration: none;
      background-color: #DD3E41;
      background-image: linear-gradient(to bottom, #DD3E41, #DD3E41);
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
}
