.quotation-review-screen {
  padding-top: 40px;
  padding-bottom: 80px;
  h2 {
    text-align: center;
  }
  .quotation-header-attribute {
    margin: 10px 0;
  }
  .quotation-footer {
    position: fixed;
    background-color: white;
    height: 70px;
    left:0;
    bottom: 0;
    z-index: 2;
    border-top: 1px solid lightgrey;
    width: 100%;
    .footer-left {
      height: 70px;
      float: left;
      font-size: 26px;
      margin-left: 50px;
      .footer-left-desc {
        font-size: 14px;
        display: block;
      }
      .footer-subtotal {
        margin-left: 10px;
      }
    }

    .footer-right {
      float: right;
      button {
        height: 70px;
        color: white;
        background: $primary-color;
        padding: 0 30px;
        border: 0;
        font-size: 20px;
      }
      button[disabled] {
        background: grey;
      }
    }
  }
}
