.search-form {
  display: inline-block; 
}
.search-box {
  border: 1px solid #d2d6de;
  margin-right: 20px;
  padding-left: 20px;
}
.search-box-label {
  position: absolute;
  margin-left:4px;
  line-height: 24px;
}
