html {
  font-family: "genshin";
  font-size: 12px;
}

img {
  width: 100%;
}

.map-img {
  width: 700px;
  height: 300px;
}

.break {
  page-break-after: always;
}

.cross-break-prevent {
  page-break-inside: avoid;
}

.test-img {
  width: 100%;
  height: 300px;
  background: #BFBFBF;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  line-height: 14px;
}

table.quotation-header tr > td:nth-child(1) {
  width: 15%;
  text-align: right;
}

table.quotation-header tr > td:nth-child(2) {
  width: 35%;
}

table.quotation-header tr > td:nth-child(3) {
  width: 15%;
  text-align: right;
}

table.quotation-header tr > td:nth-child(4) {
  width: 35%;
}

table.summary thead {
  background: #FFE061;
}

table.summary thead td:first-of-type {
  text-align: left;
  padding-right: 10px;
}

table.summary tbody tr td:first-of-type {
  text-align: left;
  padding-right: 10px;
}

table.summary tbody tr:nth-child(2n) {
  background: #BFBFBF;
}

table.summary-2 thead {
  background: #A7A7A7;
}

table.summary-2 tbody th {
  background: #A7A7A7;
  text-align: right;
  padding-right: 10px;
}

table.summary-2 tbody th + td {
  padding-left: 10px;
}

table.day-event-list-table p {
  margin: 0;
}

table.day-event-list-table tr {
  margin: 10px 0;
}

table.day-event-list-table td,
table.day-event-list-table th {
  border: none;
  padding: 0 10px;
}

table.day-event-list-table th {
  border-right: 2px solid black;
  width: 150px;
}

th,
td {
  margin: 0;
  border: 1px solid black;
  vertical-align: top;
}

thead {
  text-align: center;
}

thead:before,
thead:after {
  display: none;
}

tbody:before,
tbody:after {
  display: none;
}

h1 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2,
h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

ul,
ol {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  line-height: 12px;
}

ul ol,
ol ol {
  list-style-type: lower-alpha;
}

.pdf-note .line {
  border-bottom: 1px dotted #BFBFBF;
  height: 30px;
}

.signature-container {
  width: 100%;
  clear: both;
  position: relative;
  margin-top: 10px;
}

.signature-container .signature {
  width: 200px;
}

.signature-container .signature .signature-header {
  padding-bottom: 80px;
  border-bottom: 1px solid black;
  text-decoration: underline;
}

.signature-container .signature.right {
  float: right;
  text-align: right;
}

