html {
  font-family: "genshin";
  font-size: 12px;
}
img {
    width: 100%;
}
.map-img {
  width: 700px;
  height: 300px;
}
.break {
    page-break-after: always;
}
.cross-break-prevent {
    page-break-inside: avoid;
}
.test-img {
  width: 100%;
  height: 300px;
  background: #BFBFBF;
}
