h1 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
h2, h3 {
  margin:0;
  line-height: 1;
  font-weight: bold;
  // border-top: 2px dotted black;
  // border-bottom: 2px dotted black;
}
