.signature-container {
  width: 100%;
  clear:both;
  position: relative;
  margin-top: 10px;
  .signature {
    width: 200px;
    .signature-header {
      padding-bottom: 80px;
      border-bottom: 1px solid black;
      text-decoration: underline;
    }
    .signature-footer {

    }
    &.right {
      float: right;
      text-align: right;
    }
  }
}
