table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    line-height: 14px;
    &.quotation-header {
      tr {
        >td:nth-child(1) {
          width: 15%;
          text-align: right;
        }
        >td:nth-child(2) {
          width: 35%;
        }
        >td:nth-child(3) {
          width: 15%;
          text-align: right;
        }
        >td:nth-child(4) {
          width: 35%;
        }
      }
    }
    &.summary {
      thead {
        background: #FFE061;
        td {
          &:first-of-type {
            text-align: left;
            padding-right:10px;
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-of-type {
              text-align: left;
              padding-right:10px;
            }
          }
          &:nth-child(2n) {
            background: #BFBFBF;
          }
        }
      }
    }
    &.summary-2 {
      thead {
        background: #A7A7A7;
      }
      tbody {
        th {
          background: #A7A7A7;
          text-align: right;
          padding-right: 10px;
        }
        th + td {
          padding-left: 10px;
        }
      }
    }
    &.day-event-list-table {
      p {
        margin: 0;
      }
      tr {
        margin: 10px 0;
      }
      td,th {
        border:none;
        padding: 0 10px;
      }
      th {
        border-right: 2px solid black;
        width: 150px;
      }
    }
}
th, td {
    margin: 0;
    border: 1px solid black;
    vertical-align: top;
}
thead {
  text-align: center;
}
thead:before, thead:after { display: none; }
tbody:before, tbody:after { display: none; }
